.body{
    background-color: orangered;
    max-width: 1240px;
    float: center;
}
nav{
    background-color: white;
    max-width: 800px; 
}
ul{
    list-style-type: none;
    background-color: black;
    float: center;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}
li{
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    }
img{
    width: 180px;
    height: 180px;
    padding: 20px;
    margin: 3px;
    float: left;
}
footer{
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
}
h1{
    font-family: "Courier New", monospace;
    text-align: center;
    font-size: 70px;
    height: 10px;
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
}
.container{
    background-color: white;
    max-width: 800px;
    height: 1200px;
    padding: 30px;
    margin: 0 auto;
}
.navigation{
    float: center;
    margin: 0 auto;
}
.main{
    max-width: 800px;
    height: 950px;
    padding: 40px;
    margin: 0 auto;
}
.large{
    width: 600px;
    height: 325px;
    margin: 0 auto;
}
.text-caption{
    font-family: "Courier New", monospace;
    margin: 5px;
}


